.phone-input {
  position: relative;
  margin-right: 0.5rem;
}
.success-button {
  margin-right: 0.25rem;
}
:host ::ng-deep .p-inputtext {
  border: none;
  border-radius: 0;
  background: inherit;
}

.pointer-events-none {
  pointer-events: none;
}

.phone__tools {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
}

:host .phone__tools ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  width: 1.8rem;
  height: 1.8rem;
}
