
<div class="phone-input">
  <p-inputMask #phoneInput
               [ngClass]="{'pointer-events-none': ! (phoneEditMode | async) }"
               class="phone-input"
               [size]="25"
               [(ngModel)]="phone"
               mask="+ 7 (999) 999 99 99"
               (onBlur)="editPhone(false)"></p-inputMask>
  <div class="phone__tools">

    <button *ngIf="! (phoneEditMode | async); else phoneEdit"
            pButton
            type="button"
            class="p-button-secondary p-button-rounded"
            icon="pi pi-pencil"
            (click)="editPhone(true)"></button>
  </div>


  <ng-template #phoneEdit>
    <button pButton
            type="button"
            class="success-button p-button-success p-button-rounded"
            icon="pi pi-check"
            (click)="editPhone(true)"></button>
    <button pButton
            type="button"
            class="cancle-button p-button-secondary p-button-rounded"
            icon="pi pi-times"
            (click)="editPhone(false)"></button>
  </ng-template>
</div>