<p-panel [header]="header">
  <div class="row">
    <div class="row__field">ИНН</div>
    <div class="row__value">{{data.tin}}</div>
  </div>

  <div class="row">
    <div class="row__field">дата открытия счета</div>
    <div class="row__value">{{data.openDate | date: 'dd MMMM yyyy' : '' : 'ru'}}</div>
  </div>

  <div class="row">
    <div class="row__field">остаток на счёте</div>
    <div class="row__value">{{data.balance}}</div>
  </div>

  <div class="row">
    <div class="row__field">номер телефона</div>
    <div class="row__value">
      

      <phone-editable-input [phone]="phone"></phone-editable-input>

    </div>
  </div>
</p-panel>