.row {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  height: 3rem;
  border-bottom: 1px solid lightgray;
  &:last-of-type {
    border-bottom: none;
  }
}
.row__field {
  font-weight: 600;
}
.row__value {
  display: flex;
  align-items: center;
}
.transactions-list {
  display: block;
  margin-top: 2rem;
}
